<template>
  <div class="acount_container">
    <div class="profile_img">
      <img
        src="https://i.pinimg.com/564x/c1/56/f6/c156f6f4d693326935ba2713186fd1d1.jpg"
      />
    </div>

    <div class="foto">
      <h3>{{ username }}</h3>
      <p>🟢 En línea</p>
    </div>

    <div class="boton">
      <button class="btn">
        <a href="#miModal">Editar Perfil</a>
      </button>
    </div>

    <div class="info">
      <h1>Información de su cuenta</h1>
      <div v-if="loaded" class="information">
        <h2>
          Nombre de usuario: <span>{{ username }}</span>
        </h2>
        <h2>
          Correo electrónico: <span>{{ email }}</span>
        </h2>
        <h2>
          Descipción: <span> Suspendisse aliquet risus ut ligula pharetra vestibulum.</span>
        </h2>
       
      </div>
    </div>

    <div class="juegos">
      <h1>Juegos</h1>
      <div>
        <div class="search_game1">
          <img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogodix.com%2Flogo%2F45400.jpg&f=1&nofb=1"
            alt=""
          />
        </div>
        <div class="search_game2">
          <img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogodix.com%2Flogo%2F45400.jpg&f=1&nofb=1"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
   <!--  Programación de ventana emergente -->
   <div id="miModal" class="modal">
    <div class="modal-contenido" overflow: scroll>
      <a href="#" class="cerrar">x</a>
      <div class="fotoEdit">
        <h3>Foto de perfil</h3>
        <img
          src="https://i.pinimg.com/564x/c1/56/f6/c156f6f4d693326935ba2713186fd1d1.jpg"
        />
      </div>
    </div>
  </div>
  
</template>

<script>
import jwt_decode from "jwt-decode";
import axios from "axios";

export default {
  name: "Account",

  data: function () {
    return {
      name: "",
      email: "",
      balance: 0,
      loaded: false,
    };
  },

  methods: {
    getData: async function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }

      await this.verifyToken();

      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();

      axios
        .get(`https://linkgamers.herokuapp.com/user/${userId}/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.username = result.data.username;
          this.email = result.data.email;
          this.loaded = true;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },

    verifyToken: function () {
      return axios
        .post(
          "https://linkgamers.herokuapp.com/refresh/",
          { refresh: localStorage.getItem("token_refresh") },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
  },

  created: async function () {
    this.getData();
  },
};
</script>

<style>
span {
  color: var(--fucsia);
  font-weight: bold;
}
.acount_container {
  height: 80.1rem;
  width: 123.4rem;
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(6, 1fr);
  row-gap: 2rem;
  column-gap: 5.5rem;
}
.info {
  grid-row-start: 3;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end: 4;
}

.juegos {
  grid-row-start: 3;
  grid-row-end: 10;
  grid-column-start: 4;
  grid-column-end: 7;
}

.info,
.juegos {
  background-color: var(--black);
  border-radius: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9.5rem;
  grid-auto-rows: 9.5rem;
  justify-items: center;
  align-items: center;
  grid-template-areas: "header";

  row-gap: 3rem;
}

.info h1,
.juegos h1 {
  color: white;
  font-size: 4rem;
  font-weight: 400;

  margin: 0;

  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.info h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  color: white;
  left: 1rem;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-bottom: 10px;
}

.profile_img {
  justify-content: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 90%;
  object-fit: cover;
  border-radius: 50%;
}

.profile_img img {
  width: 90%;
  object-fit: cover;
  border-radius: 50%;
}

.foto h3 {
  font-size: 3rem;
  color: white;
}

.foto p {
  margin-top: -15px;
  font-size: 2.5rem;
  color: white;
}
.boton {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 7;
  text-align: end;
}

.btn {
  height: 5.5rem;
  width: 30rem;
  border-radius: 2.4rem;
  border: none;
  background-color: var(--fucsia);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
  color: var(--fondo);
  font-size: 3rem;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

.cerrar {
  color: var(--fucsia);
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-end: 7;
  text-align: end;
}

.search_game1,
.search_game2 {
  height: 5.8rem;
  width: 5.8rem;
  border-radius: 50%;
  background-color: var(--black);
  margin-inline: 1rem;
}

.search_game2 {
  margin-top: -40px;
}
.search_game1 {
  margin-left: 60px;
}

.search_game2 img,
.search_game1 img {
  height: 80%;
  width: auto;
  object-fit: cover;
  margin: 0;
  border-radius: 50%;
}

.modal-contenido {
  background-color: var(--fondo);
  width: 100rem;
  height: 90rem;
  padding: 10px 20px;
  margin: 4% auto;
  overflow-y:scroll;
  overflow-x:hidden;
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(6, 1fr);
  row-gap: 2rem;
  column-gap: 5.5rem;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

#miModal:target {
  opacity: 1;
  pointer-events: auto;
}

.fotoEdit{
 grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.fotoEdit h3{
  color: var(--fucsia);
  font-size: 2.5rem;
  font-weight: 400; 
}
.fotoEdit img{
  justify-content: center;
  width: 45%;
  margin-left: 20px;
  object-fit: cover;
  border-radius: 50%;
}
</style>

